COMPOSE_PROJECT_NAME=biegbelfrow-dev
WORDPRESS_PORT=8080
WORDPRESS_URL=http://localhost:8080
WORDPRESS_DB_NAME=biegbelfrow_dev
WORDPRESS_DB_USER=biegbelfrow_dev
WORDPRESS_DB_PASSWORD=bb_dev_password
MARIADB_ROOT_PASSWORD=bb_dev_root_password
WORDPRESS_ADMIN_USER=admin
WORDPRESS_ADMIN_PASSWORD=admin
WORDPRESS_ADMIN_EMAIL=admin@example.local

